<%- include("partials/header") -%>

<div class="container-fluid">

    <%- include("partials/nav") -%>




<div class="blog-container">

    <div class="page-title">

        <h3>Blogs</h3>
        <p>Get professional tips on how to cope and achieve the perfect work-life balance.</p>

    </div>
    
    <a href="" class="entry">
      <div class="row blog-entry">
      
        <div class="col-md-3 blog-img">
          <img src="images/painting.jpeg" class="blog-thumb" alt="...">
        </div>

        <div class="col-md-9">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>

      </div>
    </a>
    

    <a href="" class="entry">
      <div class="row blog-entry">
      
        <div class="col-md-3 blog-img">
          <img src="images/painting.jpeg" class="blog-thumb" alt="...">
        </div>

        <div class="col-md-9">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>

      </div>
    </a>

    <a href="" class="entry">
      <div class="row blog-entry">
      
        <div class="col-md-3 blog-img">
          <img src="images/painting.jpeg" class="blog-thumb" alt="...">
        </div>

        <div class="col-md-9">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>

      </div>
    </a>



</div>

<%- include("partials/contact") -%>

</div>


<%- include("partials/footer") -%>